<header>
    <menu>
        <a href="#!home">Home</a>
        
    </menu>
</header>
<main class="row">
    <section class="col-2">
        <ul>
            <li><a href="#!cliente">Cliente</a></li>
            <li><a href="#!produto">Produto</a></li>
            <li><a href="#!estoque">Estoque</a></li>
            <li><a href="#!lanche">Lanche</a></li>
            <li><a href="#!combo">Combo</a></li>
            <li><a href="#!tomato">Tomato</a></li>
            <li><a href="#!tomato">Tomato</a></li>
            <li><a href="#!tomato">Tomato</a></li>
            <li><a href="#!tomato">Tomato</a></li>
        </ul>
    </section>
    <section class="col-10">
        <div>
            <ng-view></ng-view>
        </div>
    </section>
</main>
